*{
}
.text-center{
	text-align: center;
}
.img-center{
	display: block;
    margin-left: auto;
    margin-right: auto
}
.animalImage{
	margin: 10px;
}
.animalName{
	text-align: center;
}
.boxShadow{
	border-radius: 5px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.streak{
	margin-left: 50px;
}
[animate-on-change] {
  transition: all .5s;
  -webkit-transition: all 1s;
}
[animate-on-change].changed {
    opacity: 0;
    transition: .5s;
    -webkit-transition: none;
}
