<!doctype html>
<html ng-app="root">
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div class="row">
      <div class="text-center">
        <h2>Who is Cuter???</h2>
      </div>
      <div ng-controller="leftAnimal" class="col-md-6">
        <div class ="animalImage"><img class="img-center" ng-src="{{img}}"></div>
        <div class ="animalName">{{name}}</div>
        <div class ="animalDescription">{{description}}</div>
        <button type="button" ng-click="findNewAnimal()" class="btn btn-info img-center">{{name}}</button>
      </div>
      <div ng-controller="rightAnimal" class="col-md-6">
        <div class ="animalImage"><img class="img-center" ng-src="{{img}}"></div>
        <div class ="animalName">{{name}}</div>
        <div class ="animalDescription">{{description}}</div>
        <button type="button" ng-click="findNewAnimal()" class="btn btn-info img-center">{{name}}</button>
      </div>
    </div>
    <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.12.8.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="js/ang.js"></script>
</html>